.font {
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #6610f2;
}
.font1 {
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
  font-family: 'Oleo Script Swash Caps', cursive;
  color: cornflowerblue;
}
