<div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 col-12 text-center text-md-left">
        <!-- TODO: -->
        <h2 class="px-3 mb-0">{{'GENERAL.system_name' | translate}}</h2>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="">
          <h6 class="text-lg-right p-2 px-3 mb-0">
            <i class="fas fa-user-tag ml-1"></i>
            <!-- TODO: -->
            <span>Username</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="card mt-2 hover-shadow">
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
                <!-- TODO: -->
                <h3 class="mb-4">
                  {{'VIEW.page_title' | translate}}
                  <a routerLink="/create" title="Add New"
                     class="btn btn-success btn-sm float-right rounded shadow-sm hover-shadow">
                    <i class="fa fa-plus mt-1"></i>
                  </a>
                </h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label class="w-100 mb-4">
                  <div class="input-group rtl mt-2">
                    <input type="text" class="form-control" [placeholder]="('VIEW.search' | translate) + '...'" [(ngModel)]="term">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light p-0 hover-shadow">
                        <button type="submit" title="Search now" class="btn btn-sm btn-light rounded bg-white border-0">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>

                  </div>
                </label>
              </div>
              <div class="col-12 mb-4">
                <div class="hover-shadow table-responsive rounded border border-top-0">
                  <table class="table align-middle table-hover table-striped m-0 text-center">
                    <thead>
                    <tr>
                      <th>id</th>
                      <th>solde</th>
                      <th>client</th>
                      <th>{{'VIEW.table.actions' | translate | titlecase}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let compte of comptesList | filter:term">
                      <td>{{compte.id}}</td>
                      <td>{{compte.solde}}</td>
                      <td>{{compte.client}}</td>
                      <td>
                        <a href="specific_item.html" class="btn btn-light px-1 py-0 text-body mr-2"
                           title="More Details" routerLink="/update-compte/{{compte.rib}}">
                          <i class="fa mt-1 fa-edit"></i>
                        </a>
                        <button class="btn btn-light px-1 py-0 text-body" title="Delete" (click)="deleteCompte(compte.rib)">
                          <i class="fa mt-1 fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-outline-info btn-sm rounded px-3 py-0" title="Back to the previous page"
           href="javascript:history.back();">
          <i class="fa fa-angle-left mt-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>

